/* Colorers del tema
* Top : #ededed
* Content : #7b7b7b
* Footer : #434343
* Menu: #f8970d
*/

::selection {
    background: #F02B9B;
    text-shadow: none;
}

::-moz-selection {
    background: #F02B9B;
    text-shadow: none;
}

*{margin:0;}
html{}
body{
    background: #ccc;
}
div#site{
    max-width: 960px;
    margin: 0 auto;
    /*box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 30);*/
}
    .clean{ overflow: auto; }
    .block{ display: block; }
    .right{
        float: right;
        margin: 5px;
    }
    .left{
        float: left;
        margin: 5px;
    }

    header{
        background: #fff;
        font-size: 0;
        padding-bottom: 30px;
    }
        header div{
            display: inline-block;
            text-align: center;
            font-size: 16px;
        }
        header div.logo{ width: 35%; vertical-align: top; margin-top: 30px;}
        header div.logo a,div.logo img{border: 0;}
        div.logo hgroup{display:none;}

    nav {
        margin: -15px auto;
        height: 30px;
        width: 80%;
    }
    nav ul{list-style: none; font-size: 0; padding: 0;}
    nav ul li{
        text-align: center;
        display: inline-block;
        width: 20%;
        font-size: 16px;
        font-weight: bold;
    }
    nav ul li a{
        color: #46033b;
        /*background: #f8970d;*/
        padding: 3px 12px;
        display: inline-block;
        text-decoration: none;
        border:2px solid #fff;
        border-radius: 5px;
        width: 60%;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 40);

        background: #9dd53a; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlkZDUzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ExZDU0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzgwYzIxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Y2JjMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
        background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-8 */
    }
    nav ul li a.present{
        color: #454545;
    }
    nav ul li a:hover{
        border-color: #ccc;
    }

    div#bod{
        border-top: solid 4px #3080F0; 
        background-color: #fff;
        padding: 20px;

    }

    div#bod article{
        /*
            -moz-column-count: 2; -webkit-column-count: 2; -o-column-count: 2; column-count: 2;
            http://8bitgeeks.com/como-hacer-columnas-con-css-3
        */
        font-size: 0;
    }

    div#bod div.col{
        display: inline-block;
        width: 45%;
        vertical-align: top;
        text-align: right;
        margin-right: 5%;
    }

    div#bod div p{
        text-align: justify;
    }

    div#bod div{
        color: #000;
        font: 300 16px/1.5 "Helvetica Neue",sans-serif;
    }

    div#bod div.min{
        color: #000;
        font: 300 14px/1.5 "Helvetica Neue",sans-serif;
    }

    div#bod p{
        margin: 10px 0;
    }


    article a {
        color: #000;
    }

    div#bod article h2{    
        font-size: 30px;
        color: #3080F0;
        font-style: normal;
        letter-spacing: -1px;
        text-align: left;
    }

    fieldset{
        font-size: 0;
        border:0;
        border-top: solid 1px;
        margin-top: 10px;
        padding-top: 10px;
        border-color: rgba(255,255,255,0.2); 
    }
    fieldset legend{
        display: none;
    }
    fieldset div{
        font-size: 14px;
    }

    fieldset label{
        letter-spacing: 3px;
    }

    fieldset div.datos{
        text-align: right;
    }
    fieldset div.datos input{
        margin: 12px 0px 0 10px;
        padding: 8px;    
        border: 1px solid rgb(178, 178, 178);
        box-sizing : content-box;
        border-radius: 3px;
        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
        transition: all 0.2s linear;
    }
    fieldset div.campo-texto{
        text-align: left !important;
    }
    fieldset div.campo-texto label{
        display: block;
        margin-bottom: 5px;
    }
    fieldset div.campo-texto textarea{
        width: 90%;
        height: 80px;
        padding: 10px;
        display: block;
        margin-bottom: 20px;    
        border: 1px solid rgb(178, 178, 178);
        box-sizing : content-box;
        border-radius: 3px;
        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
        transition: all 0.2s linear;
    }
    fieldset div.campo-texto input{
        display: block;
        text-align: center;
        width: 180px;
        margin: 10px 10% 0 auto;
        padding: 3px;
        font-weight: bold;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #ccc;
        color: #000;
        /*box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 30);*/
        cursor: pointer;
        background: #e2e2e2; /* Old browsers */
        background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
        background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    }
    fieldset div.campo-texto input:hover{
        color: #000;
    }

    div#result{
        text-align: center;
        width: 100%;
        font-size: 26px !important;
        padding-top:140px;
        display: none;
        background: url("../img/file.png") top center no-repeat;
    }
    div#loading{
        text-align: center;
        width: 100%;
        display: none;
        font-size: 26px !important;
        padding-top:100px;
        background: url("../img/preloaders.gif") top center no-repeat;
    }



    div.icons{
        font-size: 0;
        text-align: justify;
    }

    div.icons a {
        vertical-align: top;
        text-align: center;
        padding: 8px;
        width: 180px;
        height: 180px;
        margin: 5px 10px;
        text-decoration: none;
        display: inline-block;
        border: 1px solid rgb(178, 178, 178);
        box-sizing : content-box;
        border-radius: 3px;
        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
        transition: all 1s linear;
        -webkit-transition:  all 1s;
        -moz-transition: all 1s;
    }

    div.icons a:hover {
        background-color: #d1f5ff;
        transition: all 1s linear;
        -webkit-transition:  all 1s;
        -moz-transition: all 1s;
    }


    div.icons a:hover img{ zoom:103%; }

    div.icons img {
        border: 0;
        display: block;
        margin: 0 auto;
        width: auto;
    }

    div.icons span {
        margin-top: 5px;
        display: block;
        text-decoration: underline;
        font-weight: bold;
        font-size: 14px;
    }


/*  =======Footer=========     */
    footer{
        padding: 20px 0;
        border-top: solid 8px #000;
        margin-bottom: 0px;
        font-size: 0;
    }

    footer div#enlaces{
        display: inline-block;
        width: 40%;
        vertical-align:top;
    }
    footer div.list{
        display: inline-block;
        text-align: center;
        margin-left: 10px;
    }

        footer h3 a{
            font-size: 14px;
            color: #000;
            text-decoration: none;
        }

        footer ul{
            list-style: none;
            padding: 5px 0 0 5px;
            border-left: solid #2a2a2a 2px;
            display: inline-block;
            text-align: left;
            font-size: 12px;
        }
        footer ul li{
            color: #000;
        }
        footer ul li:before{
            content:"- ";
        }
        footer ul li a{
            color: #000;
            text-decoration: none;
            margin-bottom: 3px;
            display: inline-block;
        }
        footer ul li a:hover{
            color: #666;
        }

        footer div.data{
            width: 60%;
            display: inline-block;
            vertical-align: text-bottom;
        }

        footer div.data p{
            margin-top: 10px;
            text-align: center;
            font-size:14px;
            text-decoration:none;
            color:#000;
        }

        div.marcas {
            text-align: center;
            width: 100%;
        }

        div.marcas img{
            display: inline-block;
        }

/* ====== IE Fix ======= */
.lt-ie8 #site{
    background: #fff;
}
.lt-ie8 header div {
    float: left;
    background: #fff;
}

.lt-ie8 nav {
        margin: 0 auto;
        height: 30px;
        width: 80%;
        display: block;
}

.lt-ie8 nav ul li a{
        color: #46033b;
        background: #9dd53a;
    }

.lt-ie8 nav ul li{
        float: left;
}
.lt-ie8 fieldset div.col{
        float: left;
        width: 45%;
}
.lt-ie8 footer div.list{
        float: left;
}

@media screen and (max-width:680px){

div#site{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0,0);
}

    /*header*/
    nav {
        margin: -15px auto;
        height: 30px;
        width: 100%;
    }

    nav ul{
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 40);
    }

    nav ul li{
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
    }
    nav ul li a{
        text-align: center;
        color: #46033b;
        /*background: #f8970d;*/
        padding: 3px 0px;
        border:2px solid #fff;
        border-width: 2px 0;
        border-radius: 0px;
        width: 100%;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }

    nav ul li a.present{
        color: #fff;
    }
    nav ul li a:hover{
        border-color: #ccc;
    }

    header{
        background: #fff;
        font-size: 0;
        padding-bottom: 20px;
    }
    header div.logo{ width: 100%; vertical-align: top; margin-top: 0px;}
    header div.marcas{ display: none; }
    /*body*/
    div#bod div.col{
        width: 100%;
    }
    div#bod div{
        font-size: 14px;
    }

    fieldset label{
        margin: 8px;
        display: block;
        font-weight: bold;
    }

    fieldset div.datos{
        text-align: left !important;
        margin-bottom: 20px;
    }

    fieldset div.datos input{
        margin: 2px 0px;
        width: 90%;
    }
    fieldset div.campo-texto{
        text-align: left !important;
    }
    fieldset div.campo-texto textarea{
        width: 90%;
        margin-bottom: 30px;
    }
    fieldset div.campo-texto input{
        margin: 20px auto;
        width: 90%;
        border: 0;
        padding: 10px;
        color: #000;
    }

    /*footer*/
    footer{
        padding: 10px 0;
        margin: 0;
        border-top: solid 8px #000;
    }

    footer div#enlaces{
        display: inline-block;
        width: 100%
    }
    footer div.list{
        display: inline-block;
        text-align: center;
        margin-left: 10px;
    }
        footer ul{
            list-style: none;
            padding: 5px 0 0 5px;
            border-left: solid #2a2a2a 2px;
            display: inline-block;
            text-align: left;
            font-size: 16px;
        }
        footer ul li:before{
            content:"";
        }
        footer ul li a{
            margin-bottom: 5px;
            display: inline-block;
        }
        footer ul li a:hover{
        }

        footer div.data{
            display: inline-block;
            vertical-align: text-bottom;
            text-align: center;
            width: 100%;
        }

        footer div.data p{
            margin-top: 10px;
            font-size:16px;
            text-shadow: 0px 0px 2px #000;
        }

}