*{margin: 0;padding: 0;}

body {
    margin: 10px auto;
    font-size: 1em;
    line-height: 1.4;
    max-width: 780px;
}
section#bd{
    font-size:0;
    width: 100%;
    display: block;
}
section#bd article{
    font-size: 14px;
    display:inline-block;
    width: 50%;
}
section#bd article.mision{

}
section#bd article.vision{

}